{% load static %}

<div class="col-lg-12">
    <form action="{{ form_url }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset id="checkboxes">
            {% for checkbox in form.socials %}
                <div class="form-check-inline" style="padding-bottom: 10px;">
                    <label class="form-check-label" style="cursor: pointer;">
                        {{ checkbox.tag }}
                        {% for social in socials %}
                            {% if checkbox.choice_label == social.get_full_screen_name %}
                                {% if social.category == 'page' %}
                                    <span class="fab fa-font-awesome-flag"></span>
                                {% elif social.category == 'group' %}
                                    <span class="fas fa-users"></span>
                                {% elif social.category == 'company' %}
                                    <span class="fas fa-building"></span>
                                {% elif social.category == 'business' %}
                                    <span class="fas fa-briefcase"></span>
                                {% else %}
                                    <span class="fab fa-{{social.provider}}"></span>
                                {% endif %}
                                {% if social.picture_url %}
                                    <img src="{{social.picture_url}}" class="social-picture-icon"/>
                                {% else %}
                                    <img src="{% static 'megaphonely/img/linkedin-no-profile-picture.png' %}" class="social-picture-icon"/>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </label>
                </div>
            {% endfor %}
        </fieldset>
        <div class="alert alert-info" id="composer-alert">
            Choose atleast a social account to continue.
        </div>
        <div id="composer">
            <div class="form-group">
                {{ form.message }}
                <div class="col-sm-12" style="text-align: right;">
                    <span>Text count: <span id="text_count">0</span></span>
                </div>
            </div>
            <div class="form-group">
                {{ form.multimedia }}
            </div>
            <div class="form-group">
            </div>
            <div id="div_id_schedule_at" style="padding-bottom: 10px;">{{ form.schedule_at }}</div>
            <div class="form-group">
                <div class="row">
                    <div class="col-5">{{ form.schedule }}</div>
                    <div class="col-7">
                        <button type='submit' class='btn btn-primary btn-block'>{{ button_text }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>