{% load static %}

<div class="col-lg-12">
    <div class="alert alert-warning" id="twitter-checkbox-alert" style='display: none;'>
        Twitter no longer allows identical posts to several accounts.
    </div>
    <div class="alert alert-info" id="composer-alert">
        Choose atleast a social account to continue.
    </div>
    <form action="{{ form_url }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset id="checkboxes">
            {% for checkbox in form.socials %}
                {% for social in socials %}
                    {% if checkbox.choice_label == social.get_full_screen_name %}
                        <div class="form-check-inline" style="padding-bottom: 10px;" id="{{ social.provider}}_{{ forloop.counter}}">
                            <label class="form-check-label" style="cursor: pointer;">
                                <input type="checkbox" name="socials" value="{{ social.pk }}" class="form-check-input" id="id_socials_{{ social.provider }}_{{ forloop.counter }}" {% if checkbox.data.selected %} checked {% endif %}>
                                {% if social.category == 'page' %}
                                    <span class="fas fa-flag"></span>
                                {% elif social.category == 'group' %}
                                    <span class="fas fa-users"></span>
                                {% elif social.category == 'company' %}
                                    <span class="fas fa-building"></span>
                                {% elif social.category == 'business' %}
                                    <span class="fas fa-briefcase"></span>
                                {% else %}
                                    <span class="fab fa-{{social.provider}}"></span>
                                {% endif %}
                                {% if social.picture_url %}
                                    <img src="{{social.picture_url}}" class="social-picture-icon"/>
                                {% else %}
                                    <img src="{% static 'img/linkedin-no-profile-picture.png' %}" class="social-picture-icon"/>
                                {% endif %}
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </fieldset>
        <div id="composer">
            <div class="form-group">
                {{ form.message }}
                <div class="col-sm-12" style="text-align: right;">
                    <span id="text_count">0</span>
                </div>
            </div>
            <div class="form-group">
                {{ form.multimedia }}
            </div>
            <div class="row">
                <div class="col-sm-6" id="div_id_schedule_at">{{ form.schedule_at }}</div>
                <div class="col-sm-6 mt-3 mb-3" id="div_id_schedule_time_at">{{ form.schedule_time_at }}</div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">{{ form.schedule }}</div>
                    <div class="col-6">
                        <button type='submit' class='btn btn-primary btn-block'>{{ button_text }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>