{% load static %}

<form action="{{ form_url }}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset id="checkboxes">
        {% for checkbox in form.socials %}
            <div class="form-check-inline" style="padding-bottom: 10px;">
                <label class="form-check-label" style="cursor: pointer;">
                    {{ checkbox.tag }}
                    {% for social in socials %}
                        {% if checkbox.choice_label == social.get_full_screen_name %}
                            {% if social.category == 'page' %}
                                <span class="fab fa-font-awesome-flag social-icon"></span>
                            {% elif social.category == 'group' %}
                                <span class="fas fa-users social-icon"></span>
                            {% elif social.category == 'company' %}
                                <span class="fas fa-building social-icon"></span>
                            {% elif social.category == 'business' %}
                                <span class="fas fa-briefcase social-icon"></span>
                            {% else %}
                                <span class="fab fa-{{social.provider}} social-icon"></span>
                            {% endif %}
                            {% if social.picture_url %}
                                <img src="{{social.picture_url}}" height="50" width="55" style="border-radius: 50%"/>
                            {% else %}
                                <img src="{% static 'megaphonely/img/linkedin-no-profile-picture.png' %}" height="50" width="55" style="border-radius: 50%"/>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </label>
            </div>
        {% endfor %}
    </fieldset>
    <div class="alert alert-info" id="composer-alert">
        Choose atleast a social account to continue.
    </div>
    <div id="composer">
        <div class="form-group">
            {{ form.message }}
            <div class="col-sm-12" style="text-align: right;">
                <span>Text count: <span id="text_count">0</span></span>
            </div>
        </div>
        <div class="form-group">
            {{ form.multimedia }}
        </div>
        <div class="form-group">
        </div>
        <div id="div_id_schedule_at" style="padding-bottom: 10px;">{{ form.schedule_at }}</div>
        <div class="form-group">
            <div class="row">
                <div class="col-5">{{ form.schedule }}</div>
                <div class="col-7">
                    <button type='submit' class='btn btn-primary btn-block'>{{ button_text }}</button>
                </div>
            </div>
        </div>
    </div>
</form>