<h1>Dashboard</h1>

<form method='post' action='/content'>
  <textarea name='message' cols='45' rows='5'></textarea>
  <input type='datetime-local' name='publishAt' value='2017-10-24T22:04:00'>
  <input type='submit'/>
</form>
