<h1>Dashboard</h1>

{{#each twitterAccounts}}
  Connected to @{{this.username}}
  <br>
{{/each}}
<a href='/auth/twitter'>Connect more twitter</a>
<form method='post' action='/content'>
  <textarea name='message' cols='45' rows='5'></textarea>
  <input type='datetime-local' name='publishAt'>
  {{#each twitterAccounts}}
    <input type='hidden' name='twitterAccessTokenKeys' value={{this.accessTokenKey}}>
    <input type='hidden' name='twitterAccessTokenSecrets' value={{this.accessTokenSecret}}>
  {{/each}}
  <input type='submit'/>
</form>
