<h1>Dashboard</h1>

{{#each twitterAccounts}}
  Connected to @{{this.username}} <a href='/twitter/logout/{{this.username}}'>Logout</a>
  <br>
{{/each}}
<a href='/auth/twitter'>Connect more twitter</a>
<form method='post' action='/content' enctype='multipart/form-data'>
  <div class='form-group'>
    <textarea class='form-control' name='message' cols='45' rows='5'></textarea>
  </div>
  <div class='form-group'>
    <input class='form-control' type='datetime-local' name='publishAt'>
  </div>
  {{#each twitterAccounts}}
    <label class='checkbox-inline'>
      <input type='checkbox' name='twitterUsernames' value={{this.username}}>{{this.username}}
    </label>
  {{/each}}
  <input type='file' name='photo'>
  <br>
  <button type='submit' class='btn btn-primary'>Schedule</button>
</form>
