<h1>Dashboard</h1>

{{#each twitterAccounts}}
  Connected to @{{this.username}} <a href='/twitter/logout/{{this.username}}'>Logout</a>
  <br>
{{/each}}
<a href='/auth/twitter'>Connect more twitter</a>
<form method='post' action='/content' enctype='multipart/form-data'>
  <textarea name='message' cols='45' rows='5'></textarea>
  <br>
  <input type='datetime-local' name='publishAt'>
  <br>
  {{#each twitterAccounts}}
    <input type='checkbox' name='twitterUsernames' value={{this.username}}>{{this.username}}<br>
  {{/each}}
  <input type='file' name='photo'>
  <br>
  <input type='submit'/>
</form>
