<div class='col-lg-12'>
  <div class='row'>
    <div class='col-lg-2' style='background-color: #F6F9FC; border-radius: 5%; padding-top: 5px; padding-bottom: 20px'>
      <h3 class='text-center'>Your socials</h3>
      {{#each twitterAccounts}}
        <hr>
        <div>
          <img src={{this.profilePicture}} class='social-profile-picture'>
          <a class='btn btn-social-icon btn-twitter social-icon-overlap'>
            <span class='fa fa-twitter'></span>
          </a>
          <a href='/twitter/disconnect/{{this.username}}' class='pull-right' style='padding-top: 15px'>Disconnect</a>
        </div>
      {{/each}}
      <hr>
      <div class='text-center'>
        <a href='/auth/twitter'>+ Connect more</a>
      </div>
    </div>
    <div class='col-lg-10' style='padding-top: 20px; padding-bottom: 200px'>
      <form method='post' action='/content' enctype='multipart/form-data'>
        <div class='form-group'>
          <textarea class='form-control' name='message' cols='45' rows='5'></textarea>
        </div>

        <div class='input-group date form_datetime' data-link-field='publishAtDate'>
            <input class='form-control' readonly size='16' type='text' name='publishAt'>
            <span class='input-group-addon'>
              <span class='glyphicon glyphicon-remove'></span>
            </span>
            <span class='input-group-addon'>
              <span class='glyphicon glyphicon-calendar'></span>
            </span>
            <input id='publishAtDate' type='hidden' value=''>
        </div>

        {{#each twitterAccounts}}
          <label class='checkbox-inline'>
            <input type='checkbox' name='twitterUsernames' value={{this.username}}>{{this.username}}
          </label>
        {{/each}}
        <input type='file' name='photo'>
        <br>
        <button type='submit' class='btn btn-block btn-primary'>Submit</button>
      </form>
    </div>
  </div>
</div>
