<h1>Login</h1>
<form action='/login' method='post'>
  <div class='form-group'>
    <input type='text' class='form-control' name='email' placeholder='Email' id='email'>
  </div>
  <div class='form-group'>
    <input type='password' class='form-control' name='password' placeholder='Password' id='password'>
  </div>
  <button type='submit' class='btn btn-primary'>Login</button>
</form>
<a href='/forgot'>Forgot your password?</a>
