<h1>Register</h1>
<form action='/register' method='post'>
  First name:
  <input type='text' name='firstName'>
  <br>
  Last name:
  <input type='text' name='lastName'>
  <br>
  Email:
  <input type='text' name='email'>
  <br>
  Password:
  <input type='password' name='password'>
  <br>
  <input type='submit' value='Submit'>
</form>
