<h1>Register</h1>
<form action='/register' method='post'>
  <div class='form-group'>
    <input type='text' class='form-control' name='firstName' placeholder='First name' id='firstName'>
  </div>
  <div class='form-group'>
    <input type='text' class='form-control' name='lastName' placeholder='Last name' id='lastName'>
  </div>
  <div class='form-group'>
    <input type='text' class='form-control' name='email' placeholder='Email' id='email'>
  </div>
  <div class='form-group'>
    <input type='password' class='form-control' name='password' placeholder='Password' id='password'>
  </div>
  <div class='form-group'>
    <label class='checkbox-inline'>
      <input type='checkbox' name='terms' value='true'>I agree to <a href='/terms'>Megaphone terms</a>
    </label>
  </div>
  <button type='submit' class='btn btn-block btn-primary'>Sign up for free</button>
</form>
