<h1>Reset password</h1>
<form action='/resetPassword' method='post'>
  New password:
  <input type='password' name='password'>
  <br>
  <input type='hidden' name='passwordToken' value={{{passwordToken}}}>
  <input type='submit' value='Submit'>
</form>
