<h1>Settings</h1>
<p>Hello {{{account.firstName}}}</p>

{{#if account.verificationToken}}
  Email:
  <form action='/emailVerificationToken' method='post'>
    <button type='submit' name='email' value={{{account.email}}}>
  </form>
{{ else }}
  Email: {{{account.email}}}
{{/if}}
