<nav class='navbar'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button style='border-color: #377BB5' type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
        <span class='sr-only'>Toggle navigation</span>
        <span style='background-color: #377BB5' class='icon-bar'></span>
        <span style='background-color: #377BB5' class='icon-bar'></span>
        <span style='background-color: #377BB5' class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='/'>Megaphone</a>
    </div>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav navbar-right'>
        <li class='dropdown'>
          {{#if account}}
            <li><a href='/dashboard'>Dashboard</a></li>
            <li><a href='/settings'>Settings</a></li>
            <li role='separator' class='divider'></li>
            <li><a href='/logout'>Sign out</a></li>
          {{else}}
            <li><a href='/login'>Sign in</a></li>
            <li><a href='/register'>Sign up</a></li>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
