<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=' crossorigin='anonymous'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>

<!--Scheduling button-->
<script src='/js/bootstrap-datetimepicker.js'></script>
<script type='text/javascript'>
  $('.form_datetime').datetimepicker({
      autoclose: true,
      startDate: new Date(),
      todayBtn: true,
      todayHighlight: true
  })
  $('#dateTimePickerInput').val('Today');
</script>

<!--Choose file javascript-->
<script type='text/javascript'>
$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });

});
</script>

<!--Turn dates into human readable formats-->
<script type='text/javascript' src='/js/moment.js'></script>
<script type='text/javascript' src='/js/moment-shortformat.js'></script>
<script type='text/javascript'>
document.addEventListener('DOMContentLoaded', function() {
  const dates = document.getElementsByClassName('date-to-moment-shortformat')
  for(let i=0; i<dates.length; i++) {
    let date = moment(dates[i].textContent).format('DD/MM/YYYY HH:mm')
    dates[i].innerHTML = date
  }
}, false);
</script>
<script type='text/javascript'>
$('#scheduleModal').on('show.bs.modal', function (event) {
  const button = $(event.relatedTarget)
  const statusCode = button.data('status-code')
  const statusMessage = button.data('status-message')
  const publishAt = moment(button.data('publish-at')).format('dddd, MMMM Do YYYY, h:mm:ss a')
  const profile = button.data('provider')
  const username = button.data('username')
  const profileSite = `<a href='http://${profile}.com/${username}'> http://${profile}.com/${username} </a>`
  const modal = $(this)

  modal.find('.modal-title').html(profileSite)

  if (statusCode == 200) {
    const modalBodyText = `Successfully published content at ${publishAt}`
    modal.find('.modal-body').html(modalBodyText)
  } else if (statusCode) {
    const modalBodyText = `Failed to publish content at ${publishAt} because <b>${statusMessage}</b>`
    modal.find('.modal-body').html(modalBodyText)
  } else {
    const modalBodyText = `Scheduled content to be publish at ${publishAt}`
    modal.find('.modal-body').html(modalBodyText)
  }
})
</script>
