{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-lg-8">
        <div class="card-section">
            <form action="{% url 'publisher:content_create' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.message }}
                </div>
                <div class="form-group">
                    {{ form.multimedia }}
                </div>
                <div class="form-group">
                    {% for checkbox in form.socials %}
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                {{ checkbox.tag }} {{ checkbox.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-12" id="div_id_schedule_at" style="padding-bottom: 20px;">
                        {{ form.schedule_at }}
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-5" style="display: block;">{{ form.schedule }}</div>
                            <div class="col-7">
                                <button type='submit' class='btn btn-primary btn-block'>
                                   Share
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br/>
        {% if contents %}
            <div class="card-section">
                <div class="card">
                    <div class="card-body">
                        {% for content in contents %}
                            <div class="col-12">
                                {% if content.multimedia %}
                                    <i class="fas fa-image"></i>
                                {% endif %}
                                    <a href="{% url 'publisher:content_update' pk=content.id %}"><small>{{content.message}}</small></a>
                                {% if not forloop.last %}
                                    <hr/>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br/>
        {% endif %}
    </div>
    <div class="col-lg-4">
        <div class="card-section">
            <div class="card">
                <div class="card-body">
                    <h4>Socials</h4>
                    {% if not socials %}
                        <div>
                            <small>
                                Choose a button below whether you want to only connect your profile,
                                pages, groups or teams.
                            </small>
                        </div>
                    {% else %}
                        {% for social in socials %}
                            <div class="row">
                                <div class="col-10">
                                    <span class="fab fa-{{social.provider}}" style="width: 14px; padding-top: 3px;"></span>
                                    <a target="_blank" href="{{social.url}}">{{social.get_screen_name}}</a>
                                </div>
                                <div class="col-2">
                                    <a class="float-right" href="{% url 'publisher:social_disconnect' pk=social.id %}">
                                        <span class="fas fa-minus-circle" style="color: red"></span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <br/>
                    <h4 style="color: #3B5998;">Facebook</h4>
                    <a class="btn btn-outline-primary" href="{% url 'social:begin' backend='facebook' %}">Profile</a>
                    <a class="btn btn-outline-primary" href="{% url 'social:begin' backend='facebook-page' %}">Pages</a>
                    <a class="btn btn-outline-primary" href="{% url 'social:begin' backend='facebook-group' %}">Groups</a>
                    <br/>
                    <br/>
                    <h4 style="color: #1DA1F2;">Twitter</h4>
                    <a class="btn btn-outline-primary" href="{% url 'social:begin' backend='twitter' %}">Profile</a>
                    <br/>
                    <br/>
                    <h4 style="color: #007BB5;">LinkedIn</h4>
                    <a class="btn btn-outline-primary" href="{% url 'social:begin' backend='linkedin-oauth2' %}">Profile</a>
                    <a class="btn btn-outline-primary" href="{% url 'social:begin' backend='linkedin-oauth2-team' %}">Teams</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}