{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-lg-8">
        <div class="card-section">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'publisher:content_create' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset id="checkboxes">
                            {% for checkbox in form.socials %}
                                <div class="form-check-inline" style="padding-bottom: 10px;">
                                    <label class="form-check-label" style="cursor: pointer;">
                                        {{ checkbox.tag }}
                                        {% for social in socials %}
                                            {% if checkbox.choice_label == social.get_full_screen_name %}
                                                <span class="fab fa-{{social.provider}}" style="width: 20px; padding-top: 3px;"></span>
                                                {% if social.picture_url %}
                                                    <img src="{{social.picture_url}}" height="50" width="55" style="border-radius: 50%"/>
                                                {% else %}
                                                    <img src="{% static 'megaphonely/img/linkedin-no-profile-picture.png' %}" height="50" width="55" style="border-radius: 50%"/>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </label>
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="alert alert-info" id="composer-alert">
                            Choose atleast a social account to continue.
                        </div>
                        <div id="composer">
                            <div class="form-group">
                                {{ form.message }}
                                <div class="col-sm-12" style="text-align: right;">
                                    <span>Text count: <span id="text_count">0</span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.multimedia }}
                            </div>
                            <div class="form-group">
                            </div>
                            <div id="div_id_schedule_at" style="padding-bottom: 10px;">{{ form.schedule_at }}</div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-5">{{ form.schedule }}</div>
                                    <div class="col-7">
                                        <button type='submit' class='btn btn-primary btn-block'>Create</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        {% if contents %}
            <div class="card-section">
                <div class="card">
                    <div class="card-body">
                        {% for content in contents %}
                            <strong>{{ content.schedule_at.date }}</strong>
                            <br/>
                            {% if content.multimedia %}
                                <i class="fas fa-image"></i>
                            {% endif %}
                                <a href="{% url 'publisher:content_update' pk=content.id %}"><span>{{content.message}}</span></a>
                                <div class="col-sm-12" style="text-align: right;">
                                    <br/>
                                    <span class="badge badge-pill badge-primary" style="margin-right: 10px;">{{ content.schedule_at.time }}</span>
                                    <a href="{% url 'publisher:content_update' pk=content.id %}" style="padding-right: 10px;"><small>Edit</small></a>
                                    <a href="{% url 'publisher:content_delete' pk=content.id %}" style="padding-right: 10px;"><small>Delete</small></a>
                                </div>
                            {% if not forloop.last %}
                                <hr/>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br/>
        {% endif %}
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% for social in socials %}
                            <div class="row">
                                <div class="col-10">
                                    <span class="fab fa-{{social.provider}}" style="width: 14px; padding-top: 3px;"></span>
                                    <a target="_blank" href="{{social.url}}">{{social.get_screen_name}}</a>
                                </div>
                                <div class="col-2">
                                    <a class="float-right" href="{% url 'publisher:social_disconnect' pk=social.id %}">
                                        <span class="fas fa-minus-circle" style="color: red"></span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-4 mt-3">
                        <h5 style="color: #3B5998;">Facebook</h5>
                        <a class="btn btn-facebook mt-1" href="{% url 'social:begin' backend='facebook-page' %}">Pages</a>
                        <a class="btn btn-facebook mt-1" href="{% url 'social:begin' backend='facebook-group' %}">Groups</a>
                    </div>
                    <div class="col-4 mt-3">
                        <h5 style="color: #007BB5;">LinkedIn</h5>
                        <a class="btn btn-linkedin mt-1" href="{% url 'social:begin' backend='linkedin-oauth2' %}">User</a>
                        <a class="btn btn-linkedin mt-1" href="{% url 'social:begin' backend='linkedin-oauth2-company' %}">Companies</a>
                    </div>
                    <div class="col-4 mt-3">
                        <h5 style="color: #1DA1F2;">Twitter</h5>
                        <a class="btn btn-twitter mt-1" href="{% url 'social:begin' backend='twitter' %}">User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}