{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-lg-8 mb-3">
        {% if user.customer.subscription.plan.contents > contents.count %}
            <div class="card">
                <div class="card-body">
                    {% url 'publisher:content_create' as form_url %}
                    {% include "includes/contents/form.html" with form_url=form_url button_text='Create' %}
                </div>
            </div>
        {% else %}
            <div class="col-lg-12">
                <span class="alert alert-warning" style="display: block;">
                    You have reached your contents limit.
                </span>
            </div>
        {% endif %}
        {% if contents %}
            <div class="card mt-3">
                <div class="card-body">
                    {% for content in contents %}
                        <strong>{{ content.schedule_at.date }}</strong>
                        <br/>
                        {% if content.multimedia %}
                            {% if content.is_image %}
                                <img src="{{ content.multimedia.url }}" height="300" width="300" class="img-fluid"/>
                            {% else %}
                                <video src="{{ content.multimedia.url }}" height="300" width="300" controls></video>
                            {% endif %}
                        {% endif %}
                            <a href="{% url 'publisher:content_update' pk=content.id %}"><span>{{content.message | linebreaks}}</span></a>
                            <div class="col-sm-12" style="text-align: right;">
                                <br/>
                                <span class="badge badge-pill badge-primary" style="margin-right: 10px;">{{ content.schedule_at.time }}</span>
                                {% if user.customer.subscription.plan.contents >= contents.count %}
                                    <a href="{% url 'publisher:content_update' pk=content.id %}" style="padding-right: 10px;"><small>Edit</small></a>
                                {% endif %}
                                <a href="{% url 'publisher:content_delete' pk=content.id %}" style="padding-right: 10px;"><small>Delete</small></a>
                            </div>
                        {% if not forloop.last %}
                            <hr/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% for social in socials %}
                            <div class="row">
                                <div class="col-10">
                                    {% if social.category == 'page' %}
                                        <span class="fab fa-font-awesome-flag"></span>
                                    {% elif social.category == 'group' %}
                                        <span class="fas fa-users"></span>
                                    {% elif social.category == 'company' %}
                                        <span class="fas fa-building"></span>
                                    {% elif social.category == 'business' %}
                                        <span class="fas fa-briefcase"></span>
                                    {% else %}
                                        <span class="fab fa-{{social.provider}}"></span>
                                    {% endif %}
                                    <a target="_blank" href="{{social.url}}">{{social.get_screen_name}}</a>
                                </div>
                                <div class="col-2">
                                    <a class="float-right" href="{% url 'publisher:social_disconnect' pk=social.id %}">
                                        <span class="fas fa-minus-circle" style="color: red"></span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if user.customer.subscription.plan.socials > socials.count %}
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-4 mt-3">
                            <h5 style="color: #3B5998;">Facebook</h5>
                            <a class="btn btn-facebook mt-1" href="{% url 'social:begin' backend='facebook-page' %}">Pages</a>
                            <a class="btn btn-facebook mt-1" href="{% url 'social:begin' backend='facebook-group' %}">Groups</a>
                        </div>
                        <div class="col-4 mt-3">
                            <h5 class="instagram-theme">Instagram</h5>
                            <a class="btn btn-instagram mt-1" href="{% url 'social:begin' backend='instagram' %}">Profile</a>
                            <a class="btn btn-instagram mt-1" href="{% url 'social:begin' backend='instagram-business' %}">Business</a>
                        </div>
                        <div class="col-4 mt-3">
                            <h5 style="color: #1DA1F2;">Twitter</h5>
                            <a class="btn btn-twitter mt-1" href="{% url 'social:begin' backend='twitter' %}">Profile</a>
                        </div>
                        <div class="col-4 mt-3">
                            <h5 style="color: #007BB5;">LinkedIn</h5>
                            <a class="btn btn-linkedin mt-1" href="{% url 'social:begin' backend='linkedin-oauth2' %}">Profile</a>
                            <a class="btn btn-linkedin mt-1" href="{% url 'social:begin' backend='linkedin-oauth2-company' %}">Companies</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-12 mt-3">
                    <div class="alert alert-warning">
                        You have reached your socials limit.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}