{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>Are you sure you want to delete this content?</p>
                    <input type="submit" value="Delete" class="btn btn-danger btn-block"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card-section">
    <div class="card">
        <div class="card-body">
            <strong>{{ content.schedule_at }}</strong>
            <br/>
            {% if content.multimedia %}
                {% if content.is_image %}
                    <img src="{{ content.multimedia.url }}" class="multimedia-size img-fluid"/>
                {% else %}
                    <video src="{{ content.multimedia.url }}" class="multimedia-size" controls>Your browser does not support HTML5 video.</video>
                {% endif %}
            {% endif %}
            <a href="{% url 'publisher:content_update' pk=content.id %}"><span>{{content.message}}</span></a>
            <div class="col-sm-12" style="text-align: right;">
                <br/>
                <span class="badge badge-pill badge-primary" style="margin-right: 10px;">{{ content.schedule_at.time }}</span>
                <a href="{% url 'publisher:content_update' pk=content.id %}" style="padding-right: 10px;"><small>Edit</small></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}