{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="col-lg-12 card-section">
    <div class="card border-secondary">
        <div class="card-body text-secondary">
            <h5 class="card-title text-center">
                Contents
            </h5>
            <hr/>
            {% for content in contents %}
                <p class="card-text">
                    <span class="pull-left" style="padding-right: 10px;">
                        <img src="{% static 'img/anonymous.png' %}" height="20" class="rounded-circle"/>
                    </span>
                    <a href="{% url 'dashboard:content_update' pk=content.id %}">
                        <div class="truncate-text">{{content}}</div>
                    </a>
                </p>
            {% endfor %}
        </div>
        <div class="card-footer card-footer-linkedin text-center" onclick="location.href='{% url 'dashboard:content_add' %}';" style="cursor: pointer;">
            Create
        </div>
    </div>
</div>

{% endblock %}