{% extends 'base.html' %}

{% block content %}

<div class="col-lg-12 card-section">
    <div class="card border-secondary">
        <div class="card-body text-secondary text-center">
            <h5 class="card-title">
                Contents
            </h5>
            <hr/>
            {% for content in contents %}
                <p class="card-text">{{content}}</p>
            {% endfor %}
        </div>
        <div class="card-footer card-footer-linkedin text-center" onclick="location.href='{% url 'dashboard:content_add' %}';" style="cursor: pointer;">
            Add more
        </div>
    </div>
</div>

{% endblock %}