{% extends 'base.html' %}

{% block body %}

{% load static %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card-wrapper">
            <div class="card fat">
                <div class="card-body">
                    {% url 'publisher:content_update' pk=content.id as form_url %}
                    {% include "includes/contents/form.html" with form_url=form_url button_text='Update' %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock %}