.navbar {
  box-shadow: 1px 1px 2px 1px #dddbdb;
  background-color: white;
}

.navbar-brand-logo {
  border-radius: 3px;
  height: 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent !important;
}

.error-input {
  color: #ff0033;
}
