version: '3.3'
services:
  web:
    env_file: .env
    build: .
    ports:
      - '3000:3000'
    volumes:
      - .:/app

  redis:
    image: 'redis:alpine'

  twitter:
    env_file: .env
    build:
      context: services/twitter/
      dockerfile: Dockerfile
    ports:
      - '3001:3000'

  facebook:
    env_file: .env
    build:
      context: services/facebook/
      dockerfile: Dockerfile
    ports:
      - '3002:3000'
