[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
bcrypt = "*"
flask-migrate = "*"
flask-admin = "*"
flask-mail = "*"
flask-security = "*"
social-auth-app-flask = "*"
social-auth-app-flask-sqlalchemy = "*"


[dev-packages]



[requires]

python_version = "3.6"
