<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
</head>
<body>
  {{#if account}}
    <a href='/logout'>Logout</a>
  {{else}}
    <a href='/register'>Register</a>
    <a href='/login'>Login</a>
    <a href='/forgot'>Forgot password</a>
  {{/if}}
  {{{body}}}
</body>
</html>
