{% extends 'base.html' %}

{% load account %}

{% block content %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                {% if confirmation %}
                    <h4 class="card-title">Confirm your email address</h4>
                    {% user_display confirmation.email_address.user as user_display %}
                        <p>
                            {% with confirmation.email_address.email as email %}
                                Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user <b>{{ user_display }}</b>.
                            {% endwith %}
                        </p>
                    {% load crispy_forms_tags %}
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block">Confirm</button>
                    </form>
                {% else %}
                    <h4 class="card-title">Unable to verify your email</h4>
                    {% url 'account_email' as email_url %}
                    <p>
                        This email confirmation link expired or is invalid.
                        You can <a href="{% url 'account_login' %}">login again</a> to gain a new verification link if your email is not yet verified
                        or <a href="mailto:support@megaphonely.com?subject=Question%20About%Megaphonely">contact us</a> if you are having further trouble.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
