{% extends 'base.html' %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                {% if redirect_field_value %}
                    <div class="alert alert-danger" role="alert">
                        You do not have access to visit this page. Please login first.
                    </div>
                {% endif %}
                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form | crispy }}

                    {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                    <br/>
                    <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
                    <br/>
                    Don't have an account?  <a href="{% url 'account_signup' %}">Signup</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
