{% extends 'base.html' %}

{% block body %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">{% if token_fail %}Bad token{% else %}Change password{% endif %}</h4>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        The password reset link was invalid, possibly because
                        it has already been used.  You can request a new password reset <a href="{{ passwd_reset_url }}">here</a>.
                    </p>
                {% else %}
                    {% if form %}
                        {% load crispy_forms_tags %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button class="btn btn-block btn-megaphonely" type="submit" name="action">Change password</button>
                        </form>
                    {% else %}
                        <p>
                            Your password has successfully been changed.
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}