{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Password reset sent</h4>
                <p>
                    We have sent you an email. Please <a href="{% url 'contact_us' %}">contact us</a>
                    if you do not receive it within a few minutes.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}