{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Change password</h4>
                {% load crispy_forms_tags %}
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}