{% extends 'base.html' %}

{% block body %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Verify your email address</h4>
                <p>
                    This part of the site requires us to verify that you are
                    who you claim to be. For this purpose, we require that
                    you verify ownership of your e-mail address.
                </p>
                <p>
                    We have sent an e-mail to you for verification. Please
                    click on the link inside this e-mail. You can
                    <a href='mailto:support@megaphonely.com?subject=Email verification not working'>contact us</a>
                    if you do not receive it within a few minutes.
                </p>
                <p>
                    <strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
