<div class='col-lg-12'>
  <div class='row'>
    <div class='col-lg-5'>
      <div class='col-lg-12' style='background-color: #F6F9FC; border-radius: 5%; padding-top: 5px; padding-bottom: 20px; margin-bottom: 20px;'>
        <h3 class='text-center'>Feed</h3>
        {{>dashboard/feeder}}
      </div>
      <div class='col-lg-12' style='background-color: #F6F9FC; border-radius: 5%; padding-top: 5px; padding-bottom: 20px'>
        <h3 class='text-center'>Socials</h3>
        {{>dashboard/connect}}
      </div>
    </div>
    <div class='col-lg-7'>
      <h3 class='text-center'>Contents</h3>
      {{>dashboard/contents}}
    </div>
  </div>
</div>
