<div class='col-md-12'>
  <div class='row'>
    <div class='col-md-6'>
      <h1>Save time managing your social media</h1>
      <p>
        Megaphone is a simpler and easier way to schedule posts, track the
        performance of your content, and manage all your accounts in one place
      </p>
    </div>
    <div class='col-md-6'>
      <form action='/register' method='post'>
        <div class='form-group'>
          <input type='text' class='form-control' name='firstName' placeholder='First name' id='firstName'>
        </div>
        <div class='form-group'>
          <input type='text' class='form-control' name='lastName' placeholder='Last name' id='lastName'>
        </div>
        <div class='form-group'>
          <input type='text' class='form-control' name='email' placeholder='Email' id='email'>
        </div>
        <div class='form-group'>
          <input type='password' class='form-control' name='password' placeholder='Password' id='password'>
        </div>
        <div class='form-group'>
          <label class='checkbox-inline'>
            <input type='checkbox' name='terms'>I agree to <a href='/terms'>Megaphone terms</a>
          </label>
        </div>
        <button type='submit' class='btn btn-block btn-primary'>Sign up for free</button>
      </form>
    </div>
  </div>
</div>

<div class='col-md-12'>
  <h1>Feature 1</h1>
  <p>
    Lorem ipsum dolor sit amet, duo in odio aperiri, quod tibique dolores an eam. No soleat democritum usu, ad mei equidem tacimates, impetus apeirian consectetuer ad usu. Ne sea affert tollit vidisse, at his alia timeam graecis, et magna animal maiorum quo. Discere debitis ut cum, mea saperet splendide torquatos et, sit ne dicant repudiare molestiae. In sea ceteros perfecto rationibus, tacimates perpetua comprehensam cu nec.

    Meis nullam nominavi eam ne. Sea dicta dicunt adolescens ea, te essent everti per. Mel debet mandamus forensibus ad, pri ne clita offendit. Quis tantas quaestio cum at. Mei dicam pertinacia at, eos cu quis simul, vel everti accusam dignissim te.

    Has ea viris intellegat abhorreant, pri ei consul gubergren. Mea ubique pertinacia honestatis an, habeo minim debitis qui eu. Eu harum neglegentur cum, probo augue ei sed. Et vim ubique legimus detraxit, est ei eros brute.

    Mel elitr detracto sadipscing eu. Eu accusata intellegebat cum, iuvaret insolens concludaturque ea quo, duo sumo omnesque facilisis ea. Cu malis aperiam dissentiunt vel, ius alii commodo volutpat id, sea nibh porro explicari cu. An cum tractatos omittantur. An scripta legimus menandri vim.

    Cum eu malis solet. Ullum facilis repudiandae ex qui. Ne stet latine his, ad omnium utroque assentior usu. Tale audiam mei in, his audire percipit inciderint ut.
  </p>
</div>

<div class='col-md-12'>
  <h1>Feature 2</h1>
  <p>
    Lorem ipsum dolor sit amet, lorem dolorum vim ad, at impetus periculis sententiae qui. Pro dicant consul eu. Cu mei vitae accusata, in mediocrem quaerendum omittantur cum, pro scaevola delicata maiestatis te. Sit cu habeo nostrud euismod, sit soleat vulputate et, regione volumus his ut. An eum hinc legere, forensibus dissentias consectetuer ea mei. Mel ea paulo congue, cum zril luptatum liberavisse no.

    Quo in denique recteque eloquentiam, mel wisi fugit epicuri te, appetere signiferumque duo ex. An mel assum omittam delectus, vix ullamcorper consectetuer ut. Alia exerci populo cu mea, ea vis possim phaedrum iracundia, omnis simul nominati ei pri. Numquam vivendo repudiare vim an, mel velit inimicus rationibus et.

    Eius volumus molestie et sed. Dolorem vivendum duo ut, vel at nobis doctus, quis mazim utroque eam cu. No tritani definitionem sit, an has affert altera quodsi, at pri unum expetendis mnesarchum. Dico movet populo no vix, prima eripuit officiis has id. Iriure inermis alienum id nec. Nobis numquam scripserit an pri, ad dolor ullamcorper sea.

    Ius cu fabulas pericula expetenda, aperiri expetenda cotidieque ei vix, utroque disputando theophrastus ex qui. Duo at alii persecuti, hinc aeterno dignissim pri ad, in commodo delicatissimi pro. Debet gloriatur appellantur eos ea. Mei ei paulo habemus. Oblique probatus an eum. An agam inani nec.

    Dicit abhorreant sed id. Ex mei fugit quaeque numquam, vix perpetua dissentias constituam ea, timeam prompta deleniti his ei. Has ea euripidis voluptatum. Id sea posse melius reformidans. Mea partiendo repudiare ea. Ad aperiri propriae noluisse eam.
  </p>
</div>

<div class='col-md-12'>
  <h1>Feature 3</h1>
  <p>
    Lorem ipsum dolor sit amet, pertinax dissentiet suscipiantur mel ad. Nostrud suscipit ei pri, congue nostrud voluptaria has ne. Per harum dolorum appellantur ea, ne vim erat antiopam gloriatur. Scripta alienum ut qui, cu causae imperdiet conclusionemque pri. Nam decore rationibus argumentum id, accusam detracto at sed. Atqui dicta docendi has id, vel ea eius singulis tincidunt. Ei verear aperiri vis, aliquid repudiare tincidunt cu duo.

    Vero etiam semper te nec. Qui an voluptaria efficiendi definitiones. Malis praesent necessitatibus ei sed, rebum consectetuer no vel. Eam iisque eligendi prodesset cu, pri natum prompta laoreet et. Sed ex erat accumsan, et autem tantas nostro eam, omnium integre corpora sed cu. Eos semper omnesque te, ad errem sanctus contentiones usu.

    An eam doctus lobortis signiferumque, facilisis constituam dissentiunt vim te, ei est possim efficiendi. Vis ex ornatus quaerendum, dicat placerat evertitur ex eos. An vitae tantas duo, mel modo fugit consul ei. Te tantas docendi pro, odio regione sea te.

    His prima noluisse voluptatum ad, ei his nobis quaestio. Diam equidem vivendo te mei, ius delicata necessitatibus id, nec corpora molestiae mnesarchum cu. Ei sit tation audire, in est putant salutandi. Eam ei vero dolor facete, meis atomorum explicari vim at, vis utamur bonorum mediocrem at. Vis oporteat intellegat ut, utamur volumus est cu.

    Ut summo appareat usu. Ne impetus voluptaria nec, corrumpit intellegam ei vix. Nulla causae cetero te vix, sed imperdiet argumentum ei. Malis oblique at sea, at atomorum praesent vix.
  </p>
</div>
