<h2>Plans</h2>
<table class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>Individual</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Monthly price</td>
      <td>€10</td>
      <td>€20</td>
    </tr>
    <tr>
      <td>Connectable social accounts</td>
      <td>1 per platform</span></td>
      <td>10 total</span></td>
    </tr>
    <tr>
      <td>Scheduled posts per social account</td>
      <td>10</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Supported platforms</td>
      <td>
        <a class='btn btn-social-icon btn-xs btn-twitter'><span class='fa fa-twitter'></span></a>
        <a class='btn btn-social-icon btn-xs btn-facebook'><span class='fa fa-facebook'></span></a>
        <a class='btn btn-social-icon btn-xs btn-instagram'><span class='fa fa-instagram'></span></a>
      </td>
      <td>
        <a class='btn btn-social-icon btn-xs btn-twitter'><span class='fa fa-twitter'></span></a>
        <a class='btn btn-social-icon btn-xs btn-facebook'><span class='fa fa-facebook'></span></a>
        <a class='btn btn-social-icon btn-xs btn-instagram'><span class='fa fa-instagram'></span></a>
      </td>
    </tr>
    <tr>
      <td>Upload image or video</td>
      <td><span class='glyphicon glyphicon-ok-sign' style='color: #4185fc'></span></td>
      <td><span class='glyphicon glyphicon-ok-sign' style='color: #4185fc'></span></td>
    </tr>
    <tr>
      <td></td>
      <td><a class='btn btn-primary btn-large' href='/register'>Try for free</a></td>
      <td><a class='btn btn-primary btn-large' href='/register'>Try for free</a></td>
    </tr>
  </tbody>
</table>
