* {
  font-family: 'Roboto Condensed', sans-serif;
}

/**
* Header
**/
.navbar {
  box-shadow: 1px 1px 2px 1px #dddbdb;
  background-color: white;
}

.navbar-brand-logo {
  border-radius: 3px;
  height: 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent !important;
}

/**
* Dashboard
**/
.social-profile-picture {
  position: relative;
  z-index:1;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.social-icon-overlap {
  position: relative;
  z-index:2;
  border-radius: 50%;
  top: 10px;
  right: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/**
* Footer
**/
.site-footer .icon {
	font-size: 20px;
}

.site-footer .love .icon {
	font-size: 12px;
	margin-left: 2px;
	margin-right: 2px;
}

.footer-text-title {
  color: #7B8993;
  font-weight: bold;
}
.footer-text-link {
  color: #7B8993;
}
