files:
  "/etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
          server_name $host$1 www.$host$1;
          return 301 https://www.$host$1$request_uri;
      }

      server {
          listen 80;
          server_name www.megaphone.social;
          if ($http_x_forwarded_proto != "https") {
            rewrite ^(.*)$ https://$server_name$REQUEST_URI permanent;
          }
      }
