files:
  "/etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
          listen 80;

          if ($http_x_forwarded_proto != 'https') {
            rewrite 301 https://$host$request_uri
          }

          server_name megaphone.social www.megaphone.social;
      }
