files:
  "/etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
          server_name $host$1 www.$host$1;
          return 301 https://www.$host$1$request_uri;
      }

      server {
          listen 443 ssl;
          server_name $host$1;
          return 301 https://www.$host$1$request_uri;
      }
