<div class='col-lg-12'>
  <div class='row'>
    <div class='col-lg-5'>
      <div class='col-lg-12' style='background-color: #F6F9FC; border-radius: 5%; padding-top: 5px; padding-bottom: 20px; margin-bottom: 20px;'>
        {{>dashboard/publisher}}
      </div>
      <div class='col-lg-12' style='background-color: #F6F9FC; border-radius: 5%; padding-top: 5px; padding-bottom: 20px'>
        {{>dashboard/socials}}
      </div>
    </div>
    <div class='col-lg-7 content-feed'>
      {{>dashboard/contents}}
    </div>
  </div>
</div>
