body, wrapper { min-height:100vh; }

.flex-fill { flex:1 1 auto; }

.header-logo {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

main, label { font-family: "Work Sans"; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

.header-logo:hover { text-decoration: none; color: #5C65CC !important; }

nav, .nav { font-weight: 700; }

.nav-link-item-header { color: #6772E5 !important; }
.nav-link-item-header .active { color: black; }

.nav-link-item-header:hover { text-decoration-line: underline; }

.nav-link:hover { text-decoration-line: underline; }

a { color: #6772E5; }

a:hover { color: #6772E5; text-decoration-line: underline; }


.form-control {
	border-radius: 24px;
}

.btn {
	border-radius: 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-megaphonely {
    background: #6772E5;
    color: #ffffff;
}

.btn-megaphonely:hover, .btn-megaphonely:focus, .btn-megaphonely:active, .btn-megaphonely.active, .open > .dropdown-toggle.btn-megaphonely {
    background: #5C65CC;
    color: white;
}

.btn-megaphonely:active, .btn-megaphonely.active {
    background: #5C65CC;
    box-shadow: none;
}

.asteriskField { color: red; }


