{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <h4>{{ plan | title }}</h4>
                {% with template_name=plan|stringformat:"s"|add:".html" %}
                    {% include "includes/billing/plans/"|add:template_name %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>

    <div class="col-lg-3"></div>
    <div class="col-lg-6" style="margin-top: 20px;">
        <form action="{% url 'billing:modify' %}" method="post" id="payment-form">
            {% csrf_token %}
            <small>You will be prorated for any remaining time on your current plan</small>
            <input type="hidden" name="plan" value="{{plan}}">
            <button class="btn btn-primary btn-block" style="margin-top: 10px;">Change to {{ plan | title }}</button>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>

{% endblock %}
