{% extends 'layouts/settings.html' %}

{% block setting %}

{% load crispy_forms_tags %}

<div class="col-lg-8 card-section">
    <div class="card">
        <div class="card-header">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12">
                        <b>Editing billing</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="card-body text-secondary">
                You have not made any payments with us.
                You can visit our <a href="{% url 'pricing' %}">pricing</a> page
                and choose a plan to upgrade your account.
            </div>
        </div>
    </div>
</div>

{% endblock %}
