{% extends 'layouts/settings.html' %}

{% block setting %}

{% load crispy_forms_tags %}

<div class="col-lg-8 card-section">
    <div class="card">
        <div class="card-header">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12">
                        <b>Editing billing</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="card-body text-secondary">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Free</th>
                            <td scope="col">Hello</td>
                            <td scope="col">Contents</td>
                            <td scope="col">Price</td>
                            <td scope="col"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="col">Basic</td>
                            <td scope="col">Basic</td>
                            <td scope="col">Standard</td>
                            <td scope="col">Enterprise</td>
                            <td scope="col"></td>
                        </tr>
                        <tr>
                            <td scope="col">Standard</td>
                            <td scope="col">Basic</td>
                            <td scope="col">Standard</td>
                            <td scope="col">Enterprise</td>
                            <td scope="col"></td>
                        </tr>
                        <tr>
                            <td scope="col">Enterprise</td>
                            <td scope="col">Basic</td>
                            <td scope="col">Standard</td>
                            <td scope="col">Enterprise</td>
                            <td scope="col"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}