{% extends 'layouts/settings.html' %}

{% block setting %}

{% load crispy_forms_tags %}

<div class="col-lg-8 card-section">
    <div class="card">
        <div class="card-header">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12">
                        <b>Editing billing</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="card-body text-secondary">
                {% if not user.customer.subscription_id %}
                    You have not made any payments with us.
                    You can visit our <a href="{% url 'billing:pricing' %}">pricing</a> page
                    and choose a plan to upgrade your account.
                {% else %}
                    <div class="form-group">
                        Plan: <b>{{user.customer.plan}}</b>
                    </div>
                    <div class="form-group">
                        Payment info: <b>{{user.customer.brand}}</b> ending in <b>{{user.customer.last_four}}</b>
                    </div>
                    <div class="form-group">
                        Next payment at:
                        <b>{{user.customer.next_payment_at}}</b>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <br/>

    <div class="card">
        <div class="card-header">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12">
                        <b>Payment history</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="card-body text-secondary">
                {% if user.customer.subscription_id %}
                    {% for payment_history in payment_histories %}
                        {{payment_history.date}}
                        {{payment_history.items}}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
