{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="standardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update to Standard plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if user.customer.plan == 'trial' %}
                    Upgrade your plan with last four of card number <b>{{user.customer.card}}</b> and <b>{{user.customer.last_four}}</b> to the Standard plan?
                {% else %}
                    Update your plan to the Standard plan now? You will be pro-rated for any remaining time on your current plan.
                {% endif %}
            </div>
            <div class="modal-footer">
                <form action="{% url 'billing:change' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="plan" value="standard">
                    <button class="btn btn-primary btn-block">Yes, update to Standard plan</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="advancedModal" tabindex="-1" role="dialog" aria-labelledby="advancedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update to Advanced plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if user.customer.plan == 'trial' %}
                    Upgrade your plan with last four of card number <b>{{user.customer.card}}</b> and <b>{{user.customer.last_four}}</b> to the Advanced plan?
                {% else %}
                    Update your plan to the Advanced plan now? You will be pro-rated for any remaining time on your current plan.
                {% endif %}
            </div>
            <div class="modal-footer">
                <form action="{% url 'billing:change' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="plan" value="advanced">
                    <button class="btn btn-primary btn-block">Yes, update to Advanced plan</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancel my plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cancel your current subscription? You may still reactivate
                your plan once cancelled before it's period ends.
            </div>
            <div class="modal-footer">
                <form action="{% url 'billing:cancel' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-block">Yes, cancel my plan</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resumeStandardModal" tabindex="-1" role="dialog" aria-labelledby="resumeStandardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resume my plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Resume your Standard subscription?
            </div>
            <div class="modal-footer">
                <form action="{% url 'billing:change' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="plan" value="standard">
                    <button class="btn btn-primary btn-block">Yes, resume my Standard plan</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resumeAdvancedModal" tabindex="-1" role="dialog" aria-labelledby="resumeAdvancedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resume my plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Resume your Advanced subscription?
            </div>
            <div class="modal-footer">
                <form action="{% url 'billing:change' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="plan" value="advanced">
                    <button class="btn btn-primary btn-block">Yes, resume my Advanced plan</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="card-deck text-center">
    <div class="col-lg-6 card-section">
        <div class="card">
            <div class="card-body text-secondary">
                <h4 class="card-title">Standard</h4>
                <div class="col-lg-12" style="font-size: 16px;">
                    <b>200</b> schedulable contents
                </div>
                <div class="col-lg-12" style="font-size: 16px;">
                    <b>8</b> total social accounts
                </div>

                <br/>
                <h1>
                    <span style="font-size: 24px;">€</span>
                    <span style="color: black"><b>19</b></span>
                    <span style="font-size: 12px">/ monthly</span>
                </h1>
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_signup' %}" class="btn btn-lg btn-block btn-outline-primary">Start free trial for 7 days</a>
                {% elif resume == 'standard' %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#resumeStandardModal">Resume <i class="fas fa-arrow-right"></i></button>
                {% elif user.customer.plan == 'trial' and not user.customer.customer_id  %}
                    <a class="btn btn-primary btn-block" href="{% url 'billing:standard' %}">Choose plan <i class="fas fa-arrow-right"></i></a>
                {% elif user.customer.plan == 'trial' and user.customer.customer_id  %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#standardModal">Upgrade</button>
                {% elif user.customer.plan == 'standard' %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#cancelModal">Cancel <i class="fas fa-arrow-right"></i></button>
                {% else %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#standardModal">Select <i class="fas fa-arrow-right"></i></button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6 card-section">
        <div class="card">
            <div class="card-body text-secondary">
                <h4 class="card-title">Advanced</h4>
                <div class="col-lg-12" style="font-size: 16px;">
                    <b>600</b> schedulable contents
                </div>
                <div class="col-lg-12" style="font-size: 16px;">
                    <b>20</b> total social accounts
                </div>

                <br/>
                <h1>
                    <span style="font-size: 24px;">€</span>
                    <span style="color: black"><b>49</b></span>
                    <span style="font-size: 12px">/ monthly</span>
                </h1>
                {% if not user.is_authenticated %}
                  <a href="{% url 'account_signup' %}" class="btn btn-lg btn-block btn-outline-primary">Start free trial for 7 days</a>
                {% elif resume == 'advanced' %}
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#resumeAdvancedModal">Resume <i class="fas fa-arrow-right"></i></button>
                {% elif user.customer.plan == 'trial' and not user.customer.customer_id  %}
                  <a class="btn btn-primary btn-block" href="{% url 'billing:standard' %}">Choose plan <i class="fas fa-arrow-right"></i></a>
                {% elif user.customer.plan == 'trial' and user.customer.customer_id  %}
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#advancedModal">Upgrade</button>
                {% elif user.customer.plan == 'advanced' %}
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#cancelModal">Cancel <i class="fas fa-arrow-right"></i></button>
                {% else %}
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#advancedModal">Select <i class="fas fa-arrow-right"></i></button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 text-center">
    <h4>Will we be charged when our trial is up?</h4>
    <p>
        No. We don't ask for your credit card up front, so you'll only be
        charged when you decide. If you want to continue after your trial,
        we'll ask for payment details. If not — cancel with a click, no
        questions asked.
    </p>

    <h4>What if we need more than 7 days?</h4>
    <p>
        We'll give you time. Just
        <a href='mailto:support@megaphonely.com?subject=Question%20About%Megaphonely'>contact us</a>
        and we'll happily extend your trial.
    </p>
</div>
{% endblock %}
