{% extends 'layouts/settings.html' %}

{% block setting %}

{% load crispy_forms_tags %}

<div class="col-lg-8 card-section">
    <div class="card">
        <div class="card-header">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12">
                        <b>Upgrading to {{plan}}</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-secondary">
            <form action="{% url 'billing:upgrade' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="plan" value="{{plan}}">
                <button class="btn btn-primary btn-block">Pay €{{price}}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
