<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="#" style="text-decoration: none !important; color: maroon; font-family: Poppins; font-weight: 700">Megaphonely</a>
    </h5>
    {% if true %}
        <br/>
        <a class="btn btn-sm btn-outline-primary" href="#">Upgrade my plan</a>
        <br/>
    {% endif %}
    <nav class="my-2 my-md-0 mr-md-3">
        {% if true %}
            <a class="p-2 text-dark" href="/">Home</a>
            <a class="p-2 text-dark" href="#">Pricing</a>
            <a class="p-2 text-dark" href="#">Login</a>
            <a class="p-2 text-dark" href="#">Signup</a>
        {% else %}
            <a class="p-2 text-dark" href="/">Dashboard</a>
            <a class="p-2 text-dark" href="#">Settings</a>
            <a class="p-2 text-dark" href="#">Logout</a>
        {% endif %}
    </nav>
</div>
