{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>User Profile</h1>

<h1>Content</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Schedule' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<h3>Twitter</h3>
{% if twitter_login %}
    <p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
    {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
            {% csrf_token %}
            <button type="submit">Disconnect from Twitter</button>
        </form>
    {% else %}
    <button type="button" disabled>Disconnect from Twitter</button>
    <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
    {% endif %}
{% else %}
    <a href="{% url 'social:begin' 'twitter' %}">Connect to Twitter</a>
{% endif %}

{% endblock %}
