{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                {% if form.errors %}
                    <p style="color: red;">Your username and password didn't match. Please try again.</p>
                {% endif %}

                <form method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}


                    <button type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                    <br/>
                    <a href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
                    <br/>
                    Don't have an account?  <a href="{% url 'accounts:signup' %}">Signup</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}