{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                <form method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    {% include 'includes/bs4_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                    <br/>
                    <a href="{% url 'password_reset' %}">Forgot your password?</a>
                    <br/>
                    Don't have an account?  <a href="{% url 'accounts:signup' %}">Signup</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}