{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Change password</h4>
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {% include 'includes/bs4_form.html' with form=form %}
                        <button type="submit" class="btn btn-primary btn-block">Change password</button>
                    </form>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it
                        has already been used.
                        Please request a new password reset.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}