{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}


<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Forgot your password?</h4>

                <form method="post" action="{% url 'password_reset' %}">
                    <div class="form-group">
                        <small class="form-text text-muted">
                            Enter your email address to reset your password. You
                            may need to check your spam folder or
                            unblock no-reply@megaphonely.com.
                        </small>
                    </div>
                    {% csrf_token %}
                    {% include 'includes/bs4_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary btn-block">
                        Send email
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}