{% extends 'base.html' %}

{% block content %}


<div class="row justify-content-center" style="padding: 25px">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Completed password reset</h4>
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'accounts:login' %}">login</a> now.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}