<br/>
<h4 style="color: #3B5998;">Facebook</h4>
<a class="btn btn-facebook" href="{% url 'social:begin' backend='facebook-page' %}">Pages</a>
<a class="btn btn-facebook" href="{% url 'social:begin' backend='facebook-group' %}">Groups</a>
<br/>
<br/>
<h4 style="color: #1DA1F2;">Twitter</h4>
<a class="btn btn-twitter" href="{% url 'social:begin' backend='twitter' %}">User</a>
<br/>
<br/>
<h4 style="color: #007BB5;">LinkedIn</h4>
<a class="btn btn-linkedin" href="{% url 'social:begin' backend='linkedin-oauth2' %}">User</a>
<a class="btn btn-linkedin" href="{% url 'social:begin' backend='linkedin-oauth2-company' %}">Companies</a>
