{% extends 'base.html' %}

{% block content %}

<div class="col-lg-12 card-section">
    <div class="card border-secondary">
        <div class="card-body text-secondary">
            <h5 class="card-title text-center">
                Disconnecting social
            </h5>
            <hr/>
            <div class="card-body text-secondary text-center">
                <form action="" method="post">{% csrf_token %}
                    <p>Are you sure you want to disconnect
                        <i class="fab fa-{{social.provider}}" style="padding-top: 3px;"></i>
                        <strong>{{ social }}</strong>?
                    </p>
                    <input type="submit" value="Delete" class="btn btn-danger btn-block"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}