{% extends 'base.html' %}
{% block content %}

<div class="col-lg-12 text-center" style="padding: 10px;">
    <h3>Connect your social accounts to your account.</h3>
</div>

<div class="row">
    <div class="col-lg-4 card-section">
        <div class="card">
            <div class="card-header twitter-bg">
                <div class="col-12 text-center">
                    <span>Twitter</span>
                </div>
            </div>
            <div class="card-body text-secondary">
                <ul class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'social:begin' backend='twitter' %}">
                        <i class="fab fa-twitter"></i> Connect profile
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 card-section">
        <div class="card">
            <div class="card-header facebook-bg">
                <div class="col-12 text-center">
                    <span>Facebook</span>
                </div>
            </div>
            <div class="card-body text-secondary">
                <ul class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'social:begin' backend='facebook' %}">
                        <i class="fab fa-facebook"></i> Connect profile
                    </a>
                </ul>
                <ul class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'social:begin' backend='facebook-page' %}">
                        <i class="fas fa-flag" style="color: orange"></i> Connect pages
                    </a>
                </ul>
                <ul class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'social:begin' backend='facebook-group' %}">
                        <i class="fas fa-users" style="color: #3B5998"></i> Connect groups
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 card-section">
        <div class="card">
            <div class="card-header linkedin-bg">
                <div class="col-12 text-center">
                    <span>LinkedIn</span>
                </div>
            </div>
            <div class="card-body text-secondary">
                <ul class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'social:begin' backend='linkedin-oauth2' %}">
                        <i class="fab fa-linkedin"></i> Connect profile
                    </a>
                </ul>
                <ul class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'social:begin' backend='linkedin-oauth2-company' %}">
                        <i class="fas fa-building" style="color: #007BB5"></i></i> Connect companies
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}