{% extends 'base.html' %}

{% block content %}

<div class="col-lg-12 card-section">
    <div class="card border-secondary">
        <div class="card-body text-secondary">
            <h5 class="card-title text-center">Socials</h5>
            <hr/>
            {% for social in socials %}
                <p class="card-text">
                    <i class="fab fa-{{social.provider}}" style="padding-top: 3px;"></i>
                    <img src="{{social.picture_url}}" height="20" class="rounded-circle"/>
                    <a href="https://www.{{social.provider}}.com/{{social.username}}">
                        {{social}}
                    </a>
                </p>
            {% endfor %}
        </div>
        <div class="card-footer card-footer-twitter text-center" onclick="location.href='{% url 'social:begin' backend='twitter' %}';" style="cursor: pointer;">
            Connect Twitter
        </div>
        <div class="card-footer card-footer-facebook text-center" onclick="location.href='{% url 'social:begin' backend='facebook' %}';" style="cursor: pointer;">
            Connect Facebook
        </div>
        <div class="card-footer card-footer-linkedin text-center" onclick="location.href='{% url 'social:begin' backend='linkedin-oauth2' %}';" style="cursor: pointer;">
            Connect LinkedIn
        </div>
    </div>
</div>

{% endblock %}