{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card-section">
            <div class="card">
                <div class="card-body">
                    <h4>Link a social account</h4>
                    <div>
                        <small>
                            Before you can start, you'll need to connect a social account.
                        </small>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mt-3">
                            <h4 style="color: #3B5998;">Facebook</h4>
                            <a class="btn btn-facebook mt-1" href="{% url 'social:begin' backend='facebook-page' %}">Pages</a>
                            <a class="btn btn-facebook mt-1" href="{% url 'social:begin' backend='facebook-group' %}">Groups</a>
                        </div>
                        <div class="col-sm-4 mt-3">
                            <h4 style="color: #1DA1F2;">Twitter</h4>
                            <a class="btn btn-twitter mt-1" href="{% url 'social:begin' backend='twitter' %}">User</a>
                        </div>
                        <div class="col-sm-4 mt-3">
                            <h4 style="color: #007BB5;">LinkedIn</h4>
                            <a class="btn btn-linkedin mt-1" href="{% url 'social:begin' backend='linkedin-oauth2' %}">User</a>
                            <a class="btn btn-linkedin mt-1" href="{% url 'social:begin' backend='linkedin-oauth2-company' %}">Companies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock %}