<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Megaphonely</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
</head>
<body>
    {% include "includes/header.html" %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% if not user.is_authenticated %}
        {% include "includes/footer.html" %}
    {% endif %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
        const dateFormat = 'YYYY-MM-DD HH:mm';
        const today = moment().format(dateFormat);
        const scheduleCustom = $('#id_schedule_2');
        const scheduleAt = $('#id_schedule_at');
        const scheduleAtDiv = $('#div_id_schedule_at');

        let initialDate = today;
        const datePopulated = scheduleAt.val();
        if (datePopulated) {
            initialDate = moment(datePopulated, dateFormat).toDate();
        }
        scheduleAt.datetimepicker({
            icons: {
                time: 'fas fa-clock',
            },
            format: dateFormat,
            minDate: today,
            date: initialDate
        });

        // Show scheduleAtDiv if custom is initially checked otherwise hide
        const isScheduleCustomChecked = scheduleCustom.is(':checked');
        isScheduleCustomChecked ? scheduleAtDiv.show() : scheduleAtDiv.hide();

        // Show scheduleAtDiv if custom changes to checked otherwise hide
        $('input[type=radio][name=schedule]').change(function() {
            isCustomValue = this.value == 'custom'
            isCustomValue ? scheduleAtDiv.show() : scheduleAtDiv.hide();
        });
    </script>
</body>
</html>
