<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'megaphonely/img/apple-icon-57x57' %}.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'megaphonely/img/apple-icon-60x60' %}.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'megaphonely/img/apple-icon-72x72' %}.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'megaphonely/img/apple-icon-76x76' %}.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'megaphonely/img/apple-icon-114x114' %}.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'megaphonely/img/apple-icon-120x120' %}.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'megaphonely/img/apple-icon-144x144' %}.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'megaphonely/img/apple-icon-152x152' %}.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'megaphonely/img/apple-icon-180x180' %}.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'megaphonely/img/android-icon-192x192' %}.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'megaphonely/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'megaphonely/img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'megaphonely/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'megaphonely/img/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#990000">
    <meta name="msapplication-TileImage" content="{% static 'megaphonely/img/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#990000">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Megaphonely</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'megaphonely/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'megaphonely/css/customStripe.css' %}"/>
</head>
<body>
    {% include "includes/header.html" %}
    <div class="container">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
        {% include "includes/footer.html" %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="{% static 'megaphonely/js/scheduleAt.js' %}"></script>
    <script type="text/javascript" src="{% static 'megaphonely/js/socialsMultipleSelect.js' %}"></script>
    <script type="text/javascript" src="{% static 'megaphonely/js/customStripe.js' %}"></script>
</body>
</html>
