{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="col-md-8">
    <h1>Built for people who use social media</h1>
    <p class="lead">
        Megaphonely is a social media management tool that simplifies the way
        you manage social media accounts. Choose from various social platforms,
        easily create or schedule contents.
    </p>
    <a class="btn btn-success btn-lg" href="{% url 'account_signup' %}" role="button">Create account</a>
    <a class="btn btn-primary btn-lg" href="mailto:sales@megaphonely.com?subject=Sales" role="button">Contact sales</a>
</div>

{% endblock %}