{% extends 'base.html' %}

{% block body %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}

<div class="col-lg-12">
    <div class="row">
        <h1 class="col-sm-12">Built for product marketers.</h1>
        <div class="col-sm-12">
            <p class="lead">
                Find social media influencers that will help promote your product.
            </p>
        </div>
        <a href="{% url 'pricing' %}" class="btn btn-megaphonely btn-block">Start Free Trial</a>
    </div>
</div>

{% endblock %}