{% load static %}
<footer class="pt-4 pt-md-5 border-top" style="margin-top: 25px;">
    <div class="row">
        <div class="col-4 col-md">
            <h5>Company</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'billing:pricing' %}">Pricing</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>Support</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href='mailto:support@megaphonely.com?subject=Question%20About%20Megaphonely'>Contact us</a></li>
                <li><a class="text-muted" href="{% url 'help' %}">Help</a></li>
                <li><a class="text-muted" href="{% url 'terms' %}">Terms</a></li>
                <li><a class="text-muted" href="{% url 'privacy' %}">Privacy</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>Socials</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://www.facebook.com/Megaphonely-723749727830922">Facebook</a></li>
                <li><a class="text-muted" href="https://www.instagram.com/megaphonely">Instagram</a></li>
                <li><a class="text-muted" href="https://www.twitter.com/megaphonely">Twitter</a></li>
                <li><a class="text-muted" href="https://www.linkedin.com/company/11450675">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</footer>
