<h1>Terms of Service</h1>
<p>
  Megaphone ("Megaphone" or the "Service") is a social media software service
  offered through the URL Megaphone.social (we'll refer to it as the "Website")
  that allows you to find, create, publish, and manage social media posts
  ("Posts") for multiple social media accounts. Megaphone is owned and operated
  by Pro Start Me Technology Pvt Ltd, an Indian private corporation
  ("Megaphone", "we", or "us"). Megaphone has employees and representatives
  ("our Team"). As a customer of the Service or a representative of an entity
  that's a customer of the Service, you're a "Member" according to this
  agreement (or "you").
</p>

<h4>In order to use Megaphone, you must:</h4>
<ul>
    <li>be at least eighteen (18) years old and able to enter into contracts;</li>
    <li>complete the registration process;</li>
    <li>agree to the Terms; and</li>
    <li>provide true, complete, and up to date contact information.</li>
    <li>obey the terms of the social networks you want to share to</li>
</ul>

<h4>1. Terms</h4>
<p>
  By accessing this web site, you are agreeing to be bound by these web site
  Terms and Conditions of Use, all applicable laws and regulations, and agree
  that you are responsible for compliance with any applicable local laws. If
  you do not agree with any of these terms, you are prohibited from using or
  accessing this site. The materials contained in this web site are protected
  by applicable copyright and trade mark law.
</p>

<h4>2. License</h4>
<p>
  Permission is granted to temporarily download one copy of the materials
  (information or software) on Megaphone's web site for personal,
  non-commercial transitory viewing only. This is the grant of a license,
  not a transfer of title, and under this license you may not:
</p>
<ul>
    <li>modify or copy the materials;</li>
    <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
    <li>attempt to decompile or reverse engineer any software contained on Megaphone's web site;</li>
    <li>remove any copyright or other proprietary notations from the materials; or</li>
    <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
</ul>
<p>
  This license shall automatically terminate if you violate any of these
  restrictions and may be terminated by Megaphone at any time. Upon
  terminating your viewing of these materials or upon the termination of this
  license, you must destroy any downloaded materials in your possession whether
  in electronic or printed format.
</p>

<h4>3. Disclaimer</h4>
<p>
  The materials on Megaphone's web site are provided "as is". Megaphone makes
  no warranties, expressed or implied, and hereby disclaims and negates all
  other warranties, including without limitation, implied warranties or
  conditions of merchantability, fitness for a particular purpose, or
  non-infringement of intellectual property or other violation of rights.
  Further, Megaphone does not warrant or make any representations concerning
  the accuracy, likely results, or reliability of the use of the materials on
  its Internet web site or otherwise relating to such materials or on any
  sites linked to this site.
</p>

<h4>4. Limitations</h4>
<p>
  In no event shall Megaphone or its suppliers be liable for any damages
  (including, without limitation, damages for loss of data or profit, or due to
  business interruption,) arising out of the use or inability to use the
  materials on Megaphone's Internet site, even if Megaphone or a Megaphone
  authorized representative has been notified orally or in writing of the
  possibility of such damage. Because some jurisdictions do not allow
  limitations on implied warranties, or limitations of liability for
  consequential or incidental damages, these limitations may not apply to you.
</p>

<h4>5. Revisions and Errata</h4>
<p>
  The materials appearing on Megaphone's web site could include technical,
  typographical, or photographic errors. Megaphone does not warrant that any
  of the materials on its web site are accurate, complete, or current.
  Megaphone may make changes to the materials contained on its web site at
  any time without notice. Megaphone does not, however, make any commitment
  to update the materials.
</p>

<h4>6. Links</h4>
<p>
  Megaphone has not reviewed all of the sites linked to its Internet web site
  and is not responsible for the contents of any such linked site. The
  inclusion of any link does not imply endorsement by Megaphone of the site.
  Use of any such linked web site is at the user's own risk. Megaphone will
  not be responsible or liable, directly or indirectly, for any damage or
  loss caused or alleged to be caused by or in connection with use of or
  reliance on any such content, goods or services available on or through any
  such site or resource.
</p>

<h4>7. User Content</h4>
<p>
  You agree that any content published by you through us is done through the
  use of technology and tools provided by Megaphone. You agree that you are
  publishing such content willingly and you represent that you own such content
  or have received the necessary authorizations from third parties, that you
  have all rights to publish said content and that publishing of the content
  by you complies with all applicable laws. User agrees that all the content
  delivered via the Service or otherwise made available by Megaphone at the
  Site are protected by copyrights, trademarks, service marks, patents, trade
  secrets or other proprietary rights and laws. You grant Megaphone the right
  to act as an agent on your behalf as the Service's operator.
</p>

<h4>8. Site Terms of Use Modifications</h4>
<p>
  Megaphone may revise these terms of use for its web site at any time without
  notice. By using this web site you are agreeing to be bound by the then
  current version of these Terms and Conditions of Use.
</p>

<h4>9. Third Party Content</h4>
<p>
  You may be able to access, review, display or use third party services,
  resources, content, information or links to other World Wide Web sites or
  resources ("Third Party Materials") via the Services. You agree that
  Megaphone is not responsible for the availability, accuracy integrity,
  quality or lawfulness of such Third Party Materials or the products or
  services on or available from such Third Party Materials.
</p>

<h4>10. Governing Law</h4>
<p>
  Any claim relating to Megaphone's web site shall be governed by the laws of
  Ireland without regard to its conflict of law provisions.
</p>

<h4>11. Payment & Refund Policy</h4>
<p>
  Megaphone provides its users free and paid services through various
  subscription plans. By selecting a plan/service you agree to pay Megaphone
  the monthly subscription fees indicated for that service. We have a free plan
  that you should use if you are not sure about our service. The paid plan is
  non-refundable once the payment has been made. We then charge the user on
  that day of each month for as long as he wants to keep his Megaphone
  subscription. The user can request to cancel the subscription at any time
  and we will not charge their account after cancellation. The fee is quoted
  and payable in euros, and is based on the services purchased.
</p>

<h4>12. Right to refuse service</h4>
<p>
  Megaphone retains the right to refuse its services to an individual or a
  group of individuals at any time.
</p>
