{% for content in contents %}
    <div class="col-12">
        {% if content.multimedia %}
            <i class="fas fa-image"></i>
        {% endif %}
            <div class="col-sm-12">
                <a href="{% url 'publisher:content_update' pk=content.id %}"><span>{{content.message}}</span></a>
            </div>
            <div class="col-sm-12" style="text-align: right;">
                <small>{{ content.schedule_at.time }}</small>
                <a href="{% url 'publisher:content_delete' pk=content.id %}" style="padding-right: 10px;"><small>Delete</small></a>
                <a href="{% url 'publisher:content_update' pk=content.id %}"><small>Edit</small></a>
            </div>
        {% if not forloop.last %}
            <hr/>
        {% endif %}
    </div>
{% endfor %}