.fa-twitter {
    color: #1DA1F2;
}

.fa-facebook {
    color: #3B5998;
}

.fa-linkedin {
    color: #007BB5;
}

.twitter-bg {
    background-color: #1DA1F2 !important;
    color: white;
}

.facebook-bg {
    background-color: #3B5998! important;
    color: white;
}

.linkedin-bg {
    background-color: #007BB5! important;
    color: white;
}

.megaphonely-bg {
    background-color: #990000! important;
    color: white;
}

.center {
    display: block;
    margin: 0 auto;
}

.justify-content-center {
    padding: 25px;
}

a {
    text-decoration: none !important;
}

.btn-outline-facebook {
    border-color: #3B5998;
    color: #3B5998;
}

.btn-outline-facebook:hover {
    background-color: #3B5998;
    color: white;
}

.btn-outline-twitter {
    border-color: #1DA1F2;
    color: #1DA1F2;
}

.btn-outline-twitter:hover {
    background-color: #1DA1F2;
    color: white;
}

.btn-outline-linkedin {
    border-color: #007BB5;
    color: #007BB5;
}

.btn-outline-linkedin:hover {
    background-color: #007BB5;
    color: white;
}