.fa-twitter {
    color: #1DA1F2;
}

.fa-facebook {
    color: #3B5998;
}

.fa-linkedin {
    color: #007BB5;
}

.twitter-bg {
    background-color: #1DA1F2 !important;
    color: white;
}

.facebook-bg {
    background-color: #3B5998! important;
    color: white;
}

.linkedin-bg {
    background-color: #007BB5! important;
    color: white;
}

.megaphonely-bg {
    background-color: #006dcc! important;
    color: white;
}

.card-section {
    padding: 10px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

textarea {
    height: 86px; /* Allows upto three sentences to be seen and not scrollable*/
}

.asteriskField {
    color: red;
}