body, html {
  height: 100%;
  background-color: #f7f8f9;
}

*, label {
  font-family: "Work Sans";
}

.header-logo {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #9F0324 !important;
    font-size: 30px;
}

.lightmaroon {
    color: #9F0324 !important;
    font-color: #9F0324 !important;
}

.navbar {
    border-bottom: solid 1px;
    border-color: lightgray;
}

.fa-twitter, .twitter-theme {
    color: #1DA1F2;
}

.fa-facebook, .fa-users, .fa-flag, .facebook-theme {
    color: #3B5998;
}

.fa-linkedin, .fa-building, .linkedin-theme {
    color: #007BB5;
}

.fa-instagram, .fa-briefcase, .instagram-theme {
    color: #fbad50;
}

.social-picture-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.twitter-bg {
    background-color: #1DA1F2 !important;
    color: white;
}

.facebook-bg {
    background-color: #3B5998! important;
    color: white;
}

.linkedin-bg {
    background-color: #007BB5! important;
    color: white;
}

.instagram-bg {
    background-color: #fbad50! important;
    color: white;
}

.megaphonely-bg {
    background-color: #990000! important;
    color: white;
}

.center {
    display: block;
    margin: 0 auto;
}

.justify-content-center {
    padding: 25px;
}

a {
    text-decoration: none !important;
}

.btn-instagram {
    background-color: #fbad50;
    color: white;
}

.btn-instagram:hover {
    background-color: orange;
    color: white;
}

.btn-instagram:active {
    background-color: orange !important;
}

.btn-instagram:focus {
    background-color: darkorange !important;
}

.center {
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
}

h4 {
    font-weight: 700;
}

.social-picture {
    height: 50px;
    width: 55px;
    border-radius: 50%;
}