<h1>Forgot password</h1>
<form action='/forgot' method='post'>
  <div class='form-group'>
    <input type='text' class='form-control' name='email' placeholder='Email' id='email'>
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>
