{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="card-deck text-center">
    <div class="col-lg-6 card-section">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Standard</h4>
                {% include "includes/billing/plans/standard.html" %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_signup' %}" class="btn btn-lg btn-block btn-primary">Start 7 day trial</a>
                {% elif not user.customer.subscription %}
                    <a href="{% url 'billing:subscribe' plan='standard' %}" class="btn btn-lg btn-block btn-primary">Choose plan</a>
                {% elif user.customer.subscription.plan == 'standard' and user.customer.subscription.is_active %}
                    <a href="{% url 'billing:cancel' plan='standard' %}" class="btn btn-lg btn-block btn-danger">Cancel</a>
                {% elif user.customer.subscription.plan == 'standard' and not user.customer.subscription.is_active %}
                    <a href="{% url 'billing:reactivate' %}" class="btn btn-lg btn-block btn-success">Reactivate</a>
                {% elif user.customer.subscription.plan != 'standard' %}
                    <a href="{% url 'billing:change' plan='standard' %}" class="btn btn-lg btn-block btn-primary">Change to Standard</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6 card-section">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Premium</h4>
                {% include "includes/billing/plans/premium.html" %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_signup' %}" class="btn btn-lg btn-block btn-primary">Start 7 day trial</a>
                {% elif not user.customer.subscription %}
                    <a href="{% url 'billing:subscribe' plan='premium' %}" class="btn btn-lg btn-block btn-primary">Choose plan</a>
                {% elif user.customer.subscription.plan == 'premium' and user.customer.subscription.is_active %}
                    <a href="{% url 'billing:cancel' plan='premium' %}" class="btn btn-lg btn-block btn-danger">Cancel</a>
                {% elif user.customer.subscription.plan == 'premium' and not user.customer.subscription.is_active %}
                    <a href="{% url 'billing:reactivate' %}" class="btn btn-lg btn-block btn-success">Reactivate</a>
                {% elif user.customer.subscription.plan != 'premium' %}
                    <a href="{% url 'billing:change' plan='premium' %}" class="btn btn-lg btn-block btn-primary">Change to Premium</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
