{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="row">
    <div class="col-lg-6 mt-2 text-center">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Standard</h4>
                {% include "includes/billing/plans/standard.html" %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_signup' %}" class="btn btn-lg btn-block btn-primary">Start 7 day trial</a>
                {% elif not user.customer.subscription %}
                    <a href="{% url 'billing:subscribe' plan='standard' %}" class="btn btn-lg btn-block btn-primary">Choose plan</a>
                {% elif user.customer.subscription.plan == 'standard' and user.customer.subscription.is_active %}
                    <a href="{% url 'billing:cancel' plan='standard' %}" class="btn btn-lg btn-block btn-danger">Cancel</a>
                {% elif user.customer.subscription.plan == 'standard' and not user.customer.subscription.is_active %}
                    <a href="{% url 'billing:reactivate' %}" class="btn btn-lg btn-block btn-success">Reactivate</a>
                {% elif user.customer.subscription.plan != 'standard' %}
                    <a href="{% url 'billing:change' plan='standard' %}" class="btn btn-lg btn-block btn-primary">Change to Standard</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-2 text-center">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Premium</h4>
                {% include "includes/billing/plans/premium.html" %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_signup' %}" class="btn btn-lg btn-block btn-primary">Start 7 day trial</a>
                {% elif not user.customer.subscription %}
                    <a href="{% url 'billing:subscribe' plan='premium' %}" class="btn btn-lg btn-block btn-primary">Choose plan</a>
                {% elif user.customer.subscription.plan == 'premium' and user.customer.subscription.is_active %}
                    <a href="{% url 'billing:cancel' plan='premium' %}" class="btn btn-lg btn-block btn-danger">Cancel</a>
                {% elif user.customer.subscription.plan == 'premium' and not user.customer.subscription.is_active %}
                    <a href="{% url 'billing:reactivate' %}" class="btn btn-lg btn-block btn-success">Reactivate</a>
                {% elif user.customer.subscription.plan != 'premium' %}
                    <a href="{% url 'billing:change' plan='premium' %}" class="btn btn-lg btn-block btn-primary">Change to Premium</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-2">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Our benefits</h1>
                <div class="row">
                    <div class="col-sm-6 mt-3">
                        <img src="{% static 'megaphonely/img/landing-page-2.png' %}" class="img-fluid">
                    </div>
                    <div class="col-sm-6 mt-3 row text-left align-items-center">
                        <div style="padding-left: 20px; padding-right: 20px;">
                            <h4>All-in-One dashboard</h4>
                            <p>Oversee all your social account contents using our dashboard.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3 text-right">
                        <i class="fab fa-facebook" style="font-size: 70px;"></i>
                        <i class="fab fa-linkedin" style="font-size: 70px;"></i>
                        <i class="fab fa-twitter" style="font-size: 70px;"></i>
                    </div>
                    <div class="col-sm-6 mt-3 row text-left align-items-center">
                        <div style="padding-left: 20px; padding-right: 20px;">
                            <h4>Social accounts</h4>
                            <p>Connect various social platforms.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <img src="{% static 'megaphonely/img/landing-page-1.png' %}" class="img-fluid">
                    </div>
                    <div class="col-sm-6 mt-3 row text-left align-items-center">
                        <div style="padding-left: 20px; padding-right: 20px;">
                            <h4>Schedulable contents</h4>
                            <p>Schedule contents to be posted tomorrow, a week or a month from now.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
