{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h1>Terms</h1>
        <p>
            The following terms and conditions govern all use of the Megaphonely website ("the Website"). The
            Website is offered subject to your acceptance without modification of all of the terms and
            conditions contained herein and all other operating rules, policies (including, without limitation,
            Megaphonely’s Privacy Policies) and procedures that may be published from time to time on this Site
            by Megaphonely (collectively, the "Agreement").
            Please read this Agreement carefully before accessing or using the Website. By accessing or
            using any part of the web site, you agree to become bound by the terms and conditions of this
            agreement. If you do not agree to all the terms and conditions of this agreement, then you may
            not access the Website or use any services. If these terms and conditions are considered an
            offer by Megaphonely, acceptance is expressly limited to these terms. The Website is available only to
            individuals who are at least 13 years old.
        </p>

        <h1>1. Access to your Megaphonely Account</h1>

        <p>
            Subject to the terms and conditions of this Agreement, the Service is solely for User's personal
            use. As used herein, "User" includes Megaphonely’s paying customers ("Customers"). This Agreement
            sets forth certain terms and conditions that apply to Customers, but not other Users. In the
            event any Customer-specific terms or conditions conflict with any of the terms or conditions that
            apply to Users generally, the Customer-specific terms/conditions shall control.
            Megaphonely may change, suspend or discontinue the Services at any time, including the availability
            of any feature, database, or content. Megaphonely may also impose limits on certain features and
            services or restrict User's access to parts or all of the Services without notice or liability.
            User certifies to Megaphonely that if User is an individual (i.e., not a corporation) User is at least 13
            years of age. User also certifies that it is legally permitted to use the Service, and takes full
            responsibility for the selection and use of the the Service. This Agreement is void where
            prohibited by law, and the right to access the Service is revoked in such jurisdictions.
            User shall be responsible for obtaining and maintaining any equipment or ancillary services
            needed to connect to, access the Service, including, without limitation, modems, hardware,
            software, and long distance or local telephone service. User shall be responsible for ensuring
            that such equipment or ancillary services are compatible with the Service.
        </p>

        <h1>2. Restrictions</h1>

        <p>User shall not, nor permit anyone else to, directly or indirectly:</p>
        <li style="color: dimgray;">
            reverse engineer, disassemble, decompile or otherwise attempt to discover the source
            code or underlying algorithms of all or any part of the Service (except that this restriction
            shall not apply to the limited extent restrictions on reverse engineering are prohibited by
            applicable local law);
        </li>

        <li style="color: dimgray;">modify or create derivatives of any part of the Service;</li>
        <li style="color: dimgray;">rent, lease, or use the Service for timesharing or service bureau purposes;</li>

        <li style="color: dimgray;">
            remove or obscure any proprietary notices on the Service. As between the parties,
            Team shall own all title, ownership rights, and intellectual property rights in and to
            the Service, and any copies or portions thereof.
        </li>

        <br/>

        <p>
            User shall not use any "deep-link", "page-scrape", "robot", "spider" or other automatic device,
            program, algorithm or methodology, or any similar or equivalent manual process, to access,
            acquire, copy or monitor any portion of the Service or any Content, or in any way reproduce or
            circumvent the navigational structure or presentation of the Service or any Content, to obtain or
            attempt to obtain any materials, documents or information through any means not purposely
            made available through the Service. Megaphonely reserves the right to bar any such activity.
            User shall not attempt to gain unauthorized access to any portion or feature of the Service, or
            any other systems or networks connected to the Service or to any Megaphonely server, or to any of
            the services offered on or through the Service, by hacking, password "mining", or any other
            illegitimate means.
        </p>

        <p>
            User shall not probe, scan or test the vulnerability of the Service or any network connected to
            the Service, nor breach the security or authentication measures on the Service or any network
            connected to the Service.
        </p>

        <p>
            User shall not take any action that imposes an unreasonable or disproportionately large load on
            the infrastructure of the Service or Megaphonely’s systems or networks, or any systems or networks
            connected to the Service or to Megaphonely.
        </p>

        <p>
            User shall not use any device, software or routine to interfere or attempt to interfere with the
            proper working of the Service or any transaction being conducted on the Service, or with any
            other person's use of the Service.
        </p>

        <p>
            User shall not use the Service or any Content for any purpose that is unlawful or prohibited by
            this Agreement.
        </p>

        <h1>3. Fees and Payment</h1>
        <p>
            Paid services are available on the Website. By selecting a paid service you agree to pay Megaphonely
            the monthly or annual subscription fees indicated for that service. Payments will be charged on
            the day you sign up for a paid service and will cover the use of that service for a monthly or
            annual period as indicated. Paid service fees are not refundable.
        </p>

        <h1>4. Registration; Security</h1>
        <p>
            As a condition to using certain products and services of the Service, User may be required to
            register with Megaphonely and select a password. User shall provide Megaphonely with accurate, complete,
            and updated registration information. Failure to do so shall constitute a breach of this
            Agreement, which may result in immediate termination of User's account. Megaphonely reserves the
            right to refuse registration of, or cancel an Megaphonely User in its discretion. User shall be
            responsible for maintaining the confidentiality of User's Megaphonely password and other account
            information.
        </p>

        <h1>5. Termination</h1>

        <p>
            Megaphonely may terminate your access to all or any part of the Website at any time, with or without
            cause, with or without notice, effective immediately. If you wish to terminate this Agreement or
            your Megaphonely account (if you have one), you may simply discontinue using the Website.
            Notwithstanding the foregoing, if you have a paid account, such account can only be terminated
            by Megaphonely if you materially breach this Agreement and fail to cure such breach within thirty (30)
            days from Megaphonely's notice to you thereof; provided that, Megaphonely can terminate the Website
            immediately as part of a general shut down of our service. All provisions of this Agreement
            which by their nature should survive termination shall survive termination, including, without
            limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
        </p>

        <h1>6. Content</h1>

        <p>
            User agrees that all content and materials (collectively, "Content") delivered via the Service or
            otherwise made available by Megaphonely at the Site are protected by copyrights, trademarks, service
            marks, patents, trade secrets or other proprietary rights and laws. Megaphonely does not support the
            distribution of pornographic content. Except as expressly authorized by Megaphonely in writing, User
            agrees not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display,
            publicly perform, publish, adapt, edit or create derivative works from such materials or content.
        </p>

        <h1>7. Changes</h1>

        <p>
            Megaphonely reserves the right, at its sole discretion, to modify or replace any part of this Agreement.
            It is your responsibility to check this Agreement periodically for changes. Your continued use of
            or access to the Website following the posting of any changes to this Agreement constitutes
            acceptance of those changes. Megaphonely may also, in the future, offer new services and/or features
            through the Website (including, the release of new tools and resources). Such new features
            and/or services shall be subject to the terms and conditions of this Agreement.
        </p>

        <h1>8. Warranties</h1>

        <p>
            If User is a Customer, Megaphonely makes the following warranty to Customer: Megaphonely shall use
            commercially reasonable efforts consistent with prevailing industry standards to provide the
            services in a professional and workmanlike manner that is free of defects. Customer's sole
            remedy, and Megaphonely's exclusive liability, for defects in the Service shall be for Megaphonely to use
            commercially reasonable efforts to promptly correct such defects.
            Customer represents and warrants that: (i) with respect to all information it provides to Megaphonely
            (such as, Recipient Information), Customer has the full right and authority to make such
            provision and to allow Megaphonely to use such information to provide the Service (including, without
            limitation, for Megaphonely to provide such information to its data providers), (ii) none of the content
            (e.g. emails) transmitted, uploaded or otherwise distributed by it (or its partners or any third
            party) through use of the Service will infringe or otherwise conflict with the rights of any third
            party.
        </p>

        <h1>9. Warranty Disclaimer</h1>

        <p>
            The Website is provided "as is". Megaphonely and its suppliers and licensors hereby disclaim all
            warranties of any kind, express or implied, including, without limitation, the warranties of
            merchantability, fitness for a particular purpose and non-infringement. Neither Megaphonely nor its
            suppliers and licensors, makes any warranty that the Website will be error free or that access
            thereto will be continuous or uninterrupted. You understand that you download from, or
            otherwise obtain content or services through, the Website at your own discretion and risk.
        </p>

        <h1>10. Security</h1>

        <p>
            In no event will Megaphonely, or its suppliers or licensors, be liable with respect to any subject matter
            of this agreement under any contract, negligence, strict liability or other legal or equitable theory
            for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or
            substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for
            any amounts that exceed the fees paid by you to Megaphonely under this agreement during the twelve
            (12) month period prior to the cause of action. Megaphonely shall have no liability for any failure or
            delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent
            prohibited by applicable law.
        </p>

        <h1>11. General Representation and Warranty</h1>
        <p>
            You represent and warrant that (i) your use of the Website will be in strict accordance with the
            Megaphonely Privacy Policy, with this Agreement and with all applicable laws and regulations
            (including without limitation any local laws or regulations in your country, state, city, or other
            governmental area, regarding online conduct and acceptable content, and including all
            applicable laws regarding the transmission of technical data exported from the United Kingdom
            or the country in which you reside) and (ii) your use of the Website will not infringe or
            misappropriate the intellectual property rights of any third party.
        </p>

        <h1>12. Privacy</h1>

        <p>
            Megaphonely's current privacy policy is available at the Site (the "Privacy Policy"), which is
            incorporated by this reference. Megaphonely strongly recommends that you review the Privacy Policy
            closely.
        </p>

        <h1>13. Copyright</h1>

        <p>
            All content included on the Site, such as text, graphics, logos, button icons, images, audio clips,
            digital downloads, data compilations, and software, is the property of Megaphonely or its content
            suppliers and protected by United Kingdom and international copyright laws. The compilation of
            all content on the Site is the exclusive property of Megaphonely and protected by Ireland and
            international copyright laws. All software used on (or provided through) the Site is the property
            of Megaphonely or its software suppliers and protected by United States and international copyright
            laws.
        </p>

        <h1>14. Indemnification</h1>

        <p>
            You agree to indemnify and hold harmless Megaphonely, its contractors, and its licensors, and their
            respective directors, officers, employees and agents from and against any and all claims and
            expenses, including attorneys' fees, arising out of your use of the Website, including but not
            limited to out of your violation this Agreement.
        </p>
    </div>
</div>


{% endblock %}