<ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link disabled">Made with <i class="fa fa-heart" style="color: red;"></i> in Dublin</a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.twitter.com/megaphonely"><i class="fab fa-twitter"></i></a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/Megaphonely-723749727830922"><i class="fab fa-facebook"></i></a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/megaphonely"><i class="fab fa-instagram"></i></a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/company/megaphonely"><i class="fab fa-linkedin"></i></a></li>
  <li class="nav-item"><a class="nav-link disabled">© 2018 Megaphonely</a></li>
</ul>
