{% extends 'landingpage/base.html' %}
{% load static %}
{% block content %}

<div class="row mt-2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 text-center">
                    <a class="header-logo">megaphonely</a>
                </div>
                <div class="col-md-12 text-center">
                    <p>Megaphonely needs your help to make a great social media management tool.</p>
                </div>
                <div class="col-md-12">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <img src="{% static 'megaphonely/img/landing-page-3.png' %}" style="border: solid 1px; border-color: lightgray;" class="img-fluid mb-3"/>
                            <p>Control your social media accounts in an all-in-one dashboard</p>
                        </div>
                        <div class="col-md-6">
                            <i class="fab fa-twitter" style="font-size: 40px;"></i>
                            <i class="fab fa-facebook" style="font-size: 40px;"></i>
                            <i class="fab fa-instagram" style="font-size: 40px;"></i>
                            <i class="fab fa-linkedin" style="font-size: 40px;"></i>
                            <p>Connect various social platforms</p>
                        </div>
                        <div class="col-md-6">
                            <i class="far fa-clock" style="font-size: 40px;"></i>
                            <p>Schedule your contents</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <input type="text" class="form-control" placeholder="Email address"/>
                        </div>
                        <div class="col-md-4">
                            <input type="button" class="btn btn-success btn-block" value="Sign Up"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link disabled">Made with <i class="fa fa-heart" style="color: red;"></i> in Dublin</a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.twitter.com/megaphonely"><i class="fab fa-twitter"></i></a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/Megaphonely-723749727830922"><i class="fab fa-facebook"></i></a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/megaphonely"><i class="fab fa-instagram"></i></a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/company/megaphonely"><i class="fab fa-linkedin"></i></a></li>
  <li class="nav-item"><a class="nav-link disabled">© 2018 Megaphonely</a></li>
</ul>

{% endblock %}